<nz-header>
  <div class="logo">
    <img src="../../../assets/img/logo/mini-logo.png">
    <h4 class="logo-name">Major Perk</h4>
  </div>

  <!-- DASHBOARD LINK -->
  <ul nz-menu [nzSelectable]="false" [nzTheme]="'dark'" [nzMode]="'horizontal'"
    style="padding-top:
    12px; display: flex;">
    <li (click)="routeTo('dashboard')" nz-menu-item fxShow="true"
      fxHide.lt-sm="”true”">
      Dashboard
    </li>

    <!-- DASHBOARD BUTTON -->
    <li (click)="routeTo('dashboard')" nz-menu-item fxShow="true"
      fxHide.gt-xs="”true”" style="margin: auto">
      <i nz-icon nzType="dashboard" style="font-size: 24px;"></i>
    </li>

    <!-- MARKET LINK -->
    <li (click)="routeTo('marketplace')" nz-menu-item fxShow="true"
      fxHide.lt-sm="”true”">
      Market
    </li>

    <!-- MARKET BUTTON -->
    <li (click)="routeTo('marketplace')" nz-menu-item fxShow="true"
      fxHide.gt-xs="”true”" style="margin: auto">
      <i nz-icon nzType="appstore" style="font-size: 24px;"></i>
    </li>

    <!-- PROFILE -->
    <li style="margin-left: auto">
      <nz-dropdown *ngIf="user" [nzTrigger]="'click'"
        [nzPlacement]="'bottomRight'">

        <span nz-dropdown>
          <i nz-icon type="user" fxShow="true" fxHide.lt-sm="”true”"></i>
          <span fxHide.lt-sm="”true”" style="margin: auto; cursor: pointer; padding: 4px;">{{user.firstName}} {{user.lastName}}</span>
          <i nz-icon type="down" fxShow="true" fxHide.lt-sm="”true”"></i>
          <i nz-icon type="user" fxShow="true" fxHide.gt-xs="”true”"
            style="font-size: 24px;"></i>
        </span>


        <ul nz-menu nzSelectable style="margin-top: 15px;">
          <li (click)="routeTo('marketplace')" nz-menu-item>
            <i nz-icon nzType="wallet"></i>{{user.points}} points
          </li>
          <li nz-menu-divider></li>
          <li (click)="routeTo('cart')" nz-menu-item>
            <i nz-icon nzType="shopping"></i>Cart
          </li>
          <li (click)="routeTo('orders')" nz-menu-item>
            <i nz-icon nzType="gift"></i>Orders
          </li>
          <li (click)="routeTo('profile')" nz-menu-item>
            <i nz-icon nzType="setting"></i>Profile
          </li>
          <li (click)="routeTo('cart')" nz-menu-item>
            <i nz-icon nzType="logout"></i>Sign Out
          </li>
        </ul>
      </nz-dropdown>
    </li>

  </ul>
</nz-header>