.logo {
  height: 31px;
  margin: 0 28px 0 0;
  float: left;
  img {
    height: 35px;
  }
  .logo-name {
    color: lightgray;
    font-size: 18px;
    margin: 0 0 0 10px;
    vertical-align: middle;
    display: inline-block;
  }
}

.userpoints {
  color: grey;
  font-size: 12px;
}

.userdata {
  margin: 0 auto;
}

.demo-infinite-container {
  height: 300px;
  width: 200px;
  border: 1px solid #e8e8e8;
  background-color: white;
  border-radius: 4px;
}

nz-list-item.rewardLink {
    padding: 5px; 
    cursor: pointer;
}

nz-list-item.rewardLink:hover {
    padding: 5px; 
    cursor: pointer;
    box-shadow: 
    0 10px 20px -12px rgba(0, 0, 0, 0.42), 
    0 3px 20px 0px rgba(0, 0, 0, 0.12), 
    0 8px 10px -5px rgba(0, 0, 0, 0.2);
}
