<!-- DASHBOARD LINK -->
<ul class="main-nav" nz-menu [nzSelectable]="false" [nzMode]="'horizontal'">
  <div class="logo" (click)="routeTo('dashboard')" style="cursor: pointer;">
    <img src="../../../assets/img/logo/mini-logo.png">
    <span class="logo-name">Major Perk</span>
  </div>
  
  <!-- PROFILE -->

  <li style="margin-left: auto; margin-right: 3px">
    <nz-dropdown *ngIf="user" [nzTrigger]="'click'"
      [nzPlacement]="'bottomRight'">
      <span nz-dropdown>
        <span style="margin: auto; cursor: pointer;
          padding: 4px;">{{user.sandPMetrics.firstname}}
          {{user.sandPMetrics.lastname}} <span class="userpoints">{{user.points
            | number}} pts</span></span>
        <i nz-icon type="down"></i>
      </span>

      <ul nz-menu nzSelectable style="margin-top: 15px;">
        <li (click)="routeTo('dashboard')" nz-menu-item>
          <i nz-icon nzType="wallet"></i>{{user.points| number}} points
        </li>

        <li (click)="routeTo('orders')" nz-menu-item>
          <i nz-icon nzType="gift"></i>Orders
        </li>
        
        <li nz-menu-divider></li>

        <li (click)="routeTo('profile')" nz-menu-item>
          <i nz-icon nzType="setting"></i>Profile
        </li>
        <li (click)="routeTo('manager')" nz-menu-item>
          <i nz-icon nzType="audit"></i>Manager Console
        </li>
        <li (click)="routeTo('login')" nz-menu-item>
          <i nz-icon nzType="logout"></i>Sign Out
        </li>
      </ul>
    </nz-dropdown>
  </li>
</ul>