.logo {
    height: 31px;
    margin: 0 28px 0 0;
    float: left;
    img {
        height: 35px;
    }
    .logo-name {
        color: lightgray;
        font-size: 18px;
        margin: 0 0 0 10px;
        vertical-align: middle;
        display: inline-block;
    }
}

.userpoints {
    color:grey;
    font-size: 12px
}

.userdata {
    margin: 0 auto;
}