<nz-layout class="layout">
  <nz-sider
    nzCollapsible
    [nzWidth]="200"
    [nzBreakpoint]="'lg'"
    [nzCollapsedWidth]="0"
    [nzZeroTrigger]="zeroTrigger">
    <ul nz-menu [nzMode]="'inline'" style="height:100%"
      [nzInlineCollapsed]="false">
      <li nz-submenu [nzOpen]="true" *ngFor="let item of categories">
        <span title><i nz-icon type="user"></i>{{item.name}}</span>
          <ul *ngFor="let tag of item.tags">
            <li nz-menu-item>{{tag}}</li>
          </ul>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-content style="margin:24px 16px 0;">
      <nz-breadcrumb style="margin:16px 0;">
        <nz-breadcrumb-item>Home</nz-breadcrumb-item>
        <nz-breadcrumb-item>List</nz-breadcrumb-item>
        <nz-breadcrumb-item>App</nz-breadcrumb-item>
      </nz-breadcrumb>
      <div>
        <nz-list
          [nzDataSource]="marketItems"
          [nzRenderItem]="item"
          [nzGrid]="{ gutter: 16, xs: 24, sm: 12, md: 6, lg: 6, xl: 4 }"
          [nzLoadMore]=""
          [nzPagination]="pagination">
          <ng-template #item let-item>
            <nz-list-item *ngIf="item">
              <nz-card nzHoverable style="height: 350px; width:300px;
                textAlign:'center'"
                [nzCover]="coverTemplate">
                <nz-card-meta nzTitle="{{item.price}} points"
                  [nzDescription]="item.title"></nz-card-meta>
              </nz-card>
              <ng-template #coverTemplate>
                <img alt="no image :(" [src]="item.image" />
              </ng-template>
            </nz-list-item>
          </ng-template>
        </nz-list>
      </div>
    </nz-content>

    <ng-template #pagination>
      <nz-pagination [nzPageIndex]="pageIndex" [nzPageSize]="pageSize"
        [nzTotal]="allRewards.length" (nzPageIndexChange)="loadData($event)"></nz-pagination>
    </ng-template>
  </nz-layout>
</nz-layout>