<nz-layout class="layout">

  <!-- SIDENAV -->

  <nz-sider
    nzCollapsible
    [nzWidth]="200"
    [nzBreakpoint]="'sm'"
    [nzCollapsedWidth]="0"
    [nzZeroTrigger]="zeroTrigger">
    <ul nz-menu [nzMode]="'inline'" style="height:100%"
      [nzInlineCollapsed]="false">
      <li nz-submenu [nzOpen]="true" *ngFor="let item of categories">
        <span title><i nz-icon type="user"></i>{{item.name}}</span>
        <ul *ngFor="let tag of item.tags">
          <li nz-menu-item>{{tag}}</li>
        </ul>
      </li>
    </ul>
  </nz-sider>

  <!-- MARKET -->

  <nz-layout>
    <nz-content style="margin:24px 16px 0;">
      <nz-breadcrumb style="margin:16px 0;">
        <nz-breadcrumb-item>MajorPerk</nz-breadcrumb-item>
        <nz-breadcrumb-item>Market</nz-breadcrumb-item>
      </nz-breadcrumb>
      <div>

        <nz-form-item>
          <nz-form-control [nzSpan]="18">
            <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton"
              style="margin-left: 36px;">
              <input type="text" nz-input placeholder="search items ..."
                [nzSize]="large"
                [(ngModel)]="search" (ngModelChange)="onChange();" />
            </nz-input-group>
            <ng-template #suffixIconButton>
              <button nz-button nzType="primary" nzSearch><i nz-icon
                  type="search"></i></button>
            </ng-template>
          </nz-form-control>
        </nz-form-item>

        <nz-list
          [nzDataSource]="marketItems"
          [nzRenderItem]="item"
          [nzGrid]="{ gutter: 24, xs: 24, sm: 12, md: 6, lg: 6, xl: 4 }"
          [nzLoadMore]=""
          [nzPagination]="pagination">
          <ng-template #item let-item>
            <nz-list-item *ngIf="item">

              <nz-card style="width:300px;" [nzCover]="coverTemplate"
                [nzActions]="[actionSetting, actionEdit, actionEllipsis]">
                <nz-card-meta
                  nzTitle="{{item.price}} points"
                  nzDescription="{{item.title}}"
                  [nzAvatar]="avatarTemplate"></nz-card-meta>
              </nz-card>
              <ng-template #avatarTemplate>
                <nz-avatar
                  nzSrc="https://ya-webdesign.com/images/shopping-cart-free-png-avatar-12.png"></nz-avatar>
              </ng-template>
              <ng-template #coverTemplate>
                  <img alt="no image :(" [src]="item.image" class="marketImage"/>
              </ng-template>
              <ng-template #actionSetting>
                <i nz-icon type="setting"></i>
              </ng-template>
              <ng-template #actionEdit>
                <i nz-icon type="edit"></i>
              </ng-template>
              <ng-template #actionEllipsis>
                <i nz-icon type="ellipsis"></i>
              </ng-template>
            </nz-list-item>
          </ng-template>
        </nz-list>
      </div>
    </nz-content>
  </nz-layout>

  <!-- TEMPLATES -->

  <ng-template #zeroTrigger>
    <i nz-icon type="menu-fold" theme="outline"></i>
  </ng-template>

  <ng-template #pagination>
    <div nz-row nzType="flex" nzJustify="space-around" nzAlign="middle"
      style="margin: 20px;">
      <nz-pagination [(nzPageIndex)]="pageIndex" [nzPageSize]="pageSize"
        [nzTotal]="allRewards.length" (nzPageIndexChange)="loadData($event)"></nz-pagination>
    </div>
  </ng-template>

</nz-layout>
