.market-img-lg {
    margin: 10px auto 0 auto;
    height: 170px;
    max-width:100%;
    padding: 20px;
}

.market-img-sm {
    margin: 10px auto 0 auto;
    height: 140px;
    max-width:100%;
    padding: 20px;
}

[card-market] {
    width: 250px;
}