<app-global-nav></app-global-nav>

<nz-layout class="layout">

  <!-- SIDENAV -->

  <nz-sider
    nzCollapsible
    [nzWidth]="250"
    [nzBreakpoint]="'md'"
    [nzCollapsedWidth]="0"
    [nzZeroTrigger]="zeroTrigger">
    <ul nz-menu [nzMode]="'inline'" style="height:100%"
      [nzInlineCollapsed]="false">
      <li nz-submenu [nzOpen]="true" *ngFor="let item of categories">
        <span title><i nz-icon type="user"></i>{{item.name}}</span>
        <ul *ngFor="let tag of item.tags">
          <li nz-menu-item [nzSelected]="false"><div nz-col nzSpan="8"><label
                nz-checkbox nzValue="{{tag}}" (click)="selected(tag)">{{tag}}</label></div></li>
        </ul>
      </li>
    </ul>
  </nz-sider>

  <!-- MARKET -->

  <nz-layout>
    <nz-content style="margin:24px 16px 0;">
      <nz-breadcrumb style="margin:16px 0;">
        <nz-breadcrumb-item>MajorPerk</nz-breadcrumb-item>
        <nz-breadcrumb-item>Market</nz-breadcrumb-item>
      </nz-breadcrumb>

      <nz-form-item>
        <nz-form-control [nzSpan]="18">
          <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton"
            style="margin-left: 36px;">
            <input type="text" nz-input placeholder="search items ..."
              [nzSize]="large"
              [(ngModel)]="search" (ngModelChange)="onChange();" />
          </nz-input-group>
          <ng-template #suffixIconButton>
            <button nz-button nzType="primary" nzSearch><i nz-icon
                type="search"></i></button>
          </ng-template>
        </nz-form-control>
      </nz-form-item>

      <nz-list
        [nzDataSource]="marketItems"
        [nzRenderItem]="item"
        [nzGrid]="{ gutter: 12, xs:12, sm: 12, md: 12, lg: 8, xl: 6, xxl: 4 }"
        [nzLoadMore]=""
        [nzPagination]="pagination"
        [nzItemLayout]="vertical">

        <ng-template #item let-item>
          <nz-list-item *ngIf="item">
            <nz-card
              style="display: flex;"
              [nzCover]="coverTemplate"
              [nzActions]="[actionCart, actionDetails]"
              style="width:250px">
              <nz-card-meta
                nzTitle="{{item.brandName}}"
                [nzAvatar]="avatarTemplate"></nz-card-meta>
              <div style="height: 40px; overflow: hidden;">
                <h6>{{item.brandKey}}</h6>
              </div>
            </nz-card>
            <ng-template #coverTemplate>
              <img alt="no image :(" [src]="item.imageUrls['1200w-326ppi']" class="market-img-lg"  [ngClass.lt-md]="{'market-img-lg':false, 'market-img-sm':true}">
            </ng-template>
            <ng-template #actionCart>
              <i nz-icon type="shopping-cart" (click)="showModal(item)" *ngIf="!item.meta.checked"></i>
              <i nz-icon nzType="shopping" (click)="showModal(item)" *ngIf="item.meta.checked" nzTheme="twotone"></i>
            </ng-template>
            <ng-template #actionDetails>
              <i nz-icon type="ellipsis" (click)="showModal(item)"></i>
            </ng-template>
          </nz-list-item>
        </ng-template>
      </nz-list>
      
      <nz-back-top></nz-back-top>

    </nz-content>
  </nz-layout>

  <!-- TEMPLATES -->

  <ng-template #zeroTrigger>
    <i nz-icon type="menu-fold" theme="outline"></i>
  </ng-template>

  <ng-template #pagination>
    <div nz-row nzType="flex" nzJustify="space-around" nzAlign="middle"
      style="margin: 20px;">
      <nz-pagination 
        [(nzPageIndex)]="pageIndex"
        [nzPageSize]="pageSize"
        [nzTotal]="itemCount"
        [nzSize]="'small'"
        (nzPageIndexChange)="loadData($event)"
        
        nzHideOnSinglePage>
      </nz-pagination>
    </div>
  </ng-template>

</nz-layout>