<nz-layout class="layout-fill">
  <nz-content style="padding:0 50px;">
    <nz-breadcrumb style="margin:16px 0;">
      <nz-breadcrumb-item>MajorPerk</nz-breadcrumb-item>
      <nz-breadcrumb-item>Dashboard</nz-breadcrumb-item>
    </nz-breadcrumb>
    <div nz-row [nzGutter]="{ xs: 8, sm: 8, md: 8, lg: 8, xl: 8, xxl: 8 }">
      <div nz-col nzSpan="8">
        <div style="background: #ffffff; min-height: 500px;"></div>
      </div>
      <div nz-col nzSpan="8">
        <div style="background: #ffffff; min-height: 500px;">
          <p>Links</p>
          <nz-divider></nz-divider>
          <p>Announcements</p>
        </div>
      </div>
      <div nz-col nzSpan="8">
        <div style="background: #ffffff; min-height: 500px;"></div>
      </div>
    </div>
  </nz-content>
  <nz-footer style="text-align: center;">Ant Design ©2019 Implement By Angular</nz-footer>
</nz-layout>