.dashboard-module {
    margin: 0 0 8px 0;
}

[nz-carousel-content] {
    text-align: center;
    height: 160px;
    line-height: 160px;
    background: lightgrey;
    color: #001528;
    overflow: hidden;
  }