<app-global-nav></app-global-nav>

<section style="margin: 64px 5% 0 5%">
  <nz-page-header nzTitle="Your Orders"></nz-page-header>

  <nz-table #ordersTable [nzData]="ordersFiltered" [nzPageSize]="10" [(nzLoading)]="loading">
      <thead>
      <tr>
        <th nzCustomFilter>
          Transaction Id
          <nz-dropdown nzTrigger="click" nzPlacement="bottomRight"
            [nzClickHide]="false" nzTableFilter #dropdown>
            <i
              nz-icon
              nzType="search"
              class="ant-table-filter-icon"
              [class.ant-table-filter-open]="dropdown.nzVisible"
              nz-dropdown></i>
            <div class="search-box">
              <input type="text" nz-input placeholder="Search Transaction Id"
                [(ngModel)]="searchValue" />
              <button nz-button nzSize="small" nzType="primary"
                (click)="search()" class="search-button">
                Search
              </button>
              <button nz-button nzSize="small" (click)="reset()">Reset</button>
            </div>
          </nz-dropdown>
        </th>
        <th>Points Cost</th>
        <th>Order Total</th>
        <th nzShowSort (nzSortChange)="sort($event)">Timestamp</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of ordersTable.data">
        <td>{{ data.referenceOrderID }}</td>
        <td>{{ data.total * account.tier.multiplier }}</td>
        <td>{{ data.total }} {{data.currencyCode}}</td>
        <td>{{ data.createdAt }}</td>
      </tr>
    </tbody>
  </nz-table>
</section>