[nz-radio-button] {
  display: block;
}

.orange-button {
  margin-right: 8px;
  background-color: #f06521;
  color: white;
  border: #f06521;
}


.shadow {
  box-shadow: 
  0 10px 20px -12px rgba(0, 0, 0, 0.42), 
  0 3px 20px 0px rgba(0, 0, 0, 0.12), 
  0 8px 10px -5px rgba(0, 0, 0, 0.2);
  border-radius: 25px;
}