<div>
  <div *ngIf="loading" style="margin-top: 25px;">
    <nz-spin nzTip="Please wait ...">
    </nz-spin>
  </div>

  <div *ngIf="!loading && !reward" nz-row nzType="flex" nzJustify="center">
    <span style="padding:15px"> You have: <b>{{account.points | number}} pts</b></span>
    <img class="shadow"
      src="https://d30s7yzk2az89n.cloudfront.net/images/brands/b077325-200w-326ppi.png">
    <nz-divider></nz-divider>


    <nz-list nzSplit="false" nzSize="small">

      <nz-list-item>
        <h6>Purchase Cost:</h6>
        <span style="font-size: 16px; margin-left:5px"> {{pointsValue | number}}
          pts</span>
      </nz-list-item>

      <nz-list-item>
        <nz-input-number
          style="width: 100%"
          nzSize="large"
          [(ngModel)]="dollarValue"
          [nzMin]="0"
          [nzMax]="maxValue"
          [nzStep]="5"
          [nzFormatter]="formatterDollar"></nz-input-number>
      </nz-list-item>

      <nz-list-item>
        <button [disabled]="checkoutDisabled" class="orange-button" nz-button
          nzBlock (click)="showConfirm()">Purchase!</button>
      </nz-list-item>


    </nz-list>



    <nz-divider></nz-divider>

    <span [innerHTML]="shortDescription"></span>

  </div>

  <div *ngIf="!loading && reward" nz-row nzType="flex" nzJustify="center">

    <span style="padding:15px"> You have: <b>{{account.points | number}} pts</b></span>
    <img class="shadow"
      src="https://d30s7yzk2az89n.cloudfront.net/images/brands/b077325-200w-326ppi.png">

      <nz-divider></nz-divider>

    <nz-list nzSplit="false" nzSize="small">

      <nz-list-item>
        <p style="text-align: center; font-size: 20px">
          Purchase Complete!
        </p>
      </nz-list-item>

      <nz-list-item>
        <p style="text-align: center; font-size: 16px; margin: 0;">${{reward.total}}
          Reward Link Redemption Code</p>
      </nz-list-item>

      <nz-divider></nz-divider>

      <nz-list-item>
        <button [disabled]="checkoutDisabled" class="orange-button" nz-button
          nzBlock (click)="navigate(reward.redemptionLink)">Redeem Now!</button>
      </nz-list-item>

      <nz-divider></nz-divider>

      <span [innerHTML]="reward.redemptionInstructions"></span>

      <!-- <nz-list-item>
        <button [disabled]="checkoutDisabled" nz-button
        nzBlock (click)="dismissReward()">Thanks!</button>
      </nz-list-item> -->
    </nz-list>


  </div>

</div>