<nz-layout class="layout-fill">
  <nz-content style="padding:0 50px;">
    <nz-breadcrumb style="margin:16px 0;">
      <nz-breadcrumb-item>MajorPerk</nz-breadcrumb-item>
      <nz-breadcrumb-item>Dashboard</nz-breadcrumb-item>
    </nz-breadcrumb>

    <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32, xl: 32, xxl: 32 }">
      <div nz-col [nzXs]="{ span: 24 }" [nzLg]="{ span: 6 }">

        <!-- REWARDS -->
        <nz-card class="dashboard-module" nzTitle="Reward Yourself">
          <nz-list [nzDataSource]="data" [nzItemLayout]="'vertical'"
            [nzRenderItem]="item">
            <ng-template #item let-item>
              <nz-list-item [nzContent]="item.content">
                <nz-list-item-meta [nzAvatar]="item.avatar"
                  [nzTitle]="nzTitle"
                  [nzDescription]="item.description">
                  <ng-template #nzTitle><a href="{{ item.href }}">{{
                      item.title
                      }}</a></ng-template>
                </nz-list-item-meta>
              </nz-list-item>
            </ng-template>
          </nz-list>
        </nz-card>

      </div>

      <div nz-col [nzXs]="{ span: 24 }" [nzLg]="{ span: 12 }">

        <!-- USER TIER -->

        <nz-card class="dashboard-module" nzTitle="Your Teir">
          <div nz-row>
            <div nz-col nzSpan="8">
              <div>
                <h1>{{userTier}}</h1>
              </div>
            </div>

            <div nz-col nzSpan="16">
              <div>
                <h1>Next Teir: Gold</h1>
              </div>

              <nz-progress [nzWidth]="80" nzPercent="{{totalDaysTargetCompletion}}" nzType="circle" [nzStrokeColor]="lightgreen"></nz-progress>
              <nz-progress [nzWidth]="80" nzPercent="{{onTimePercentTargetCompletion}}" nzType="circle" [nzStrokeColor]="lightblue"></nz-progress>
            
            </div>
          </div>
        </nz-card>

        <!-- USER POINTS -->

        <nz-card class="dashboard-module" nzTitle="Your
          Points">
          <div>
            <h5>Available Points</h5>
            <h1>{{userPoints | number}}</h1>

            <h5>Yesterday's Points Earned</h5>
            <h3> 110 </h3>

            <h5>Points This Period</h5>
            <h3> 4,320 </h3>

          </div>
        </nz-card>

        <!-- ANNOUNCEMENTS -->

        <nz-card class="dashboard-module" nzTitle="Announcements">
          <nz-carousel [nzEffect]="fade" [nzEnableSwipe]="true">
            <div nz-carousel-content *ngFor="let index of array">
              <h3>{{ index }}</h3>
            </div>
          </nz-carousel>
        </nz-card>

      </div>

      <div nz-col [nzXs]="{ span: 24 }" [nzLg]="{ span: 6 }">

        <!-- STATISTICS -->

        <nz-card class="dashboard-module" nzTitle="Statistics">
          <nz-row [nzGutter]="16">
            <nz-col [nzSpan]="12">
              <nz-statistic [nzValue]="1128 | number" [nzTitle]="'Your Rank'"
                [nzSuffix]="'/ 11,452'"></nz-statistic>
              <!-- <ng-template #prefixTpl><i nz-icon type="like"></i></ng-template> -->
            </nz-col>
            <nz-col [nzSpan]="12">
              <nz-statistic [nzValue]="93 | number" [nzTitle]="'Program Rank'"
                [nzSuffix]="'/ 563'"></nz-statistic>
            </nz-col>
          </nz-row>
        </nz-card>

        <!-- REFER A FRIEND -->

        <nz-card class="dashboard-module" nzTitle="Refer a friend!">
          <div class="column-content"></div>
        </nz-card>
      </div>
    </div>

  </nz-content>
  <nz-footer style="text-align: center;">Employee Dashboard ©2018 by MajorPerk</nz-footer>
</nz-layout>