<ul nz-menu [nzMode]="'inline'" style="width: 100%; background: lightgray">
  <li nz-submenu [nzOpen]=true>
    <span title>Travel</span>
    <ul>
      <li nz-menu-group>
        <ul>
          <li nz-menu-item>Flight</li>
          <li nz-menu-item>Public Transport</li>
          <li nz-menu-item>Vacation Packages</li>
          <li nz-menu-item>Hotel</li>
        </ul>
      </li>
    </ul>
  </li>
  <li nz-submenu [nzOpen]=true>
    <span title>Gift Cards</span>
    <ul>
      <li nz-menu-item>Amazon</li>
      <li nz-menu-item>Arby's</li>
      <li nz-menu-item>Dunkin Donuts</li>
      <li nz-menu-item>Grocery</li>
      <li nz-menu-item>Gas</li>
      <li nz-menu-item>McDonalds</li>
      <li nz-menu-item>Subway</li>
      <li nz-menu-item>Trader Joes</li>
      <li nz-menu-item>Tim Hortons</li>
      <li nz-menu-item>Walmart</li>
    </ul>
  </li>
  <li nz-submenu [nzOpen]=true>
    <span title>Fitness</span>
    <ul>
      <li nz-menu-item>Gym Membership</li>
    </ul>
  </li>
  <li nz-submenu [nzOpen]=true>
      <span title>Electronics</span>
      <ul>
        <li nz-menu-item>Watch</li>
        <li nz-menu-item>Tablet</li>
        <li nz-menu-item>Apple</li>
        <li nz-menu-item>Fitbit</li>
      </ul>
    </li>
</ul>