.dashboard-module {
    margin: 0 0 8px 0;
}

[nz-carousel-content] {
    text-align: center;
    height: 160px;
    line-height: 160px;
    color: #001528;
    // overflow: wrap;
  }

.dot-container {
    background-color: lightgrey; 
    position: absolute; 
    bottom: 0; 
    width: 100%; 
    height: 25px;
}